.container-1 {
    border:1px solid red;
    
    position: relative;
}

.first {
    width: 300px;
    height: 300px;
    background-color: yellow;
}

.second {
    width: 200px;
    height: 200px;
    background-color: green;

    position: absolute;

    top : 50px;
    left : 50px;
}

.third {
    width: 100px;
    height: 100px;
    background-color: red;

    position: absolute;

    top : 100px;
    left: 100px;
}

.container-2 {
    height: 300px;
    width: 300pk;
    position: relative;
}

center {
    width: 50px;
    height: 50px;
    background-color: pink;

    position: absolute;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.fixed-area {
    width: 120px;
    background-color: yellow;
    color: white;

    position: fixed;

    bottom: 50px;
    right: 50px;
    
}

.fixed-area > a {
  text-decoration: none;
  color: black;
}

.fixed-area > a:visited {
  color: red;
}
