.area1 {background-color: red;}
.area2 {background-color: orange;}
.area3 {background-color: yellow;}
.area4 {background-color: green;}
.area5 {background-color: blue;}

.inline {
    display: inline;
}

.block {
    display: block;

    width: 150px;
    height: 150px;
}

.inline-block {
    display: inline-block;
    /* inline 수평 조절과 block의 크기의 특징을 가짐 */
}

/* 감싸는 영역 요소 */
#container-1 {
    border: 3px solid black;
    width: 323px;
    height: 472px;
    /* 고정 크기 단위 : 브라우저 창이 변해도 변하지 않는다. */
}

/* 내부에 영역을 분할할 요소 */
#container-1 > div {
    border: 1px dashed hotpink;
    height: 50%;
}

#container-1 > div:first-of-type {
    height: 30%;
    background-color: red;
}

#container-1 > div:last-of-type {
    height: 70%;
    background-color: blue;
}


/* block 형식의 요소는
별도의 width가 지정되지 않으면
항상 부모요소의 100% */
#container-2 {
    border: 3px solid black;
    height: 500px;
    width: 500px;
}

#container-2 div.div-2 {
    background-color:red;
    height: 20%;
}

#container-2 > div:nth-of-type(2) {
    background-color: white;
    height: 30%;
    text-align: center;
}

#container-2 > div:nth-of-type(3) {
    background-color: red;
    height: 50%;
}

#container-3 {
    border: 5px solid red;
    width: 400px;
    height: 200px;
}

.div-3 {
    width: 50%;
    height: 100%;
    display: inline-block;
}

#container-3 > .div-3:first-of-type {
    background-color: plum;
}

#container-3 > .div-3:last-of-type {
    background-color: steelblue;
}

.div-4 {
    border: 3px solid black;
    height: 100px;
}

#test4 {
    background-color: deeppink;
    
    /* display: none; */
    visibility: hidden;
}

