
/* 3순위 : 아이디 선택자 */
#test1 {
    height: 100px;
    background-color: lightgoldenrodyellow;
    color: tomato;
}

/* 4순위 : 클래스 선택자 */
.cls1 {
    background-color: lightblue;
    color: azure;
}

/* 동일한 우선순위에서는
아래쪽에 작성된 설정값이 
우선 적용됨 */
.cls1 {
    background-color: lightpink;
    color: black;
}

/* 5순위 : 태그선택자 */
div {
    width: 200px;
    height: 200px;
    background-color: red !important;
    /* 1순위 : !important */
}